annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1717693030552/work
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1705564648255/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1725393310954/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560564262/work
chardet==3.0.4
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda==22.9.0
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1661504709328/work
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1717678605937/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1717678526951/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1725443043614/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
fastcore @ file:///home/conda/feedstock_root/build_artifacts/fastcore_1726319425997/work
fastlite @ file:///home/conda/feedstock_root/build_artifacts/fastlite_1725711116881/work
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1715092776266/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1726246057214/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1724778349782/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1713372668944/work
jiter @ file:///home/conda/feedstock_root/build_artifacts/jiter_1725346666488/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1725302941992/work
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1697042855635/work/libmambapy
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1697042855635/work/mamba
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1725359023560/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1726185846172/work
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1606397708505/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1726075068638/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726315398971/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
psycopg2 @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1701737563045/work
psycopg2-binary @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1701737547976/work/psycopg2-binary
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355758146/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1725908533635/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1725735540119/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1722701264352/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1722587090966/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
python-fasthtml @ file:///home/conda/feedstock_root/build_artifacts/python-fasthtml_1724200739970/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1707760088566/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1695546190972/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1707298093865/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1707314491256/work
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1654004856587/work/src/py
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1726060828717/work
sqlite-minutils @ file:///home/conda/feedstock_root/build_artifacts/sqlite-minutils_1724930994400/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1725895414289/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
trio @ file:///home/conda/feedstock_root/build_artifacts/trio_1725302373440/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1695816857197/work/dist
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1724770958874/work
tweepy @ file:///home/conda/feedstock_root/build_artifacts/tweepy_1648163064614/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn-split_1723659993282/work
webdriver_manager @ file:///home/conda/feedstock_root/build_artifacts/webdriver-manager_1722093405062/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1661356345548/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1726248574750/work
zstandard==0.23.0
